body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #151313;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h3{
    text-align: center;
    color: white;
}

.input {
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #e2950f;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
button.bn{
    background-color: #e2950f !important;
}
.btn button{
    display: inline-block;
    padding: 10px;
    border: none;
    width: 50px;
    border-radius: 50px;
    background-color: #657573;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}

.btn button:hover {
    background-color: #84817d;
}
button.bn:hover{
    background-color: #e5a552 !important;

}
